/Driver.class
/Instruction$OpCode.class
/Instruction$Register.class
/Instruction$Type.class
/Instruction.class
/Label.class
/Validate.class
/ToBin.class
/Memory.class
/Parser.class
/Registers.class
/Simulator.class
/ValidateAndWrite.class
